apiVersion: v1
kind: Service
metadata:
  labels:
    app: mealie
  annotations:
    tailscale.com/expose: "true"
  name: mealie
  namespace: mealie
spec:
  ports:
  - port: 9000
    protocol: TCP
    targetPort: 9000
  selector:
    app: mealie
  type: ClusterIP
