apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec:
      securityContext:
        fsGroup: 33 # www-data gid
        runAsUser: 33 # www-data uid
        runAsGroup: 33 # www-data gid
      containers:
        - name: linkding
          image: sissbruecker/linkding:1.44.2
          ports:
            - containerPort: 9090
          securityContext:
            allowPrivilegeEscalation: false
          volumeMounts:
            - mountPath: /etc/linkding/data
              name: linkding-data
          envFrom:
            #- configMapRef:
            #    name: linkding-config
            - secretRef:
                name: linkding-container-env
      volumes:
        - name: linkding-data
          persistentVolumeClaim:
            claimName: linkding-data-pvc
